:root {
    --primary:#ddd;
    --dark:#333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6em 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;

}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.main-nav ul {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding:0;
    list-style:none;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1em;
    box-shadow: var(--shadow);
}

.main-nav a:hover { 
    background: var(--dark);
    color:var(--light);    
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap:20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);   
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color:var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

.top-box {
    background: var(--primary);
    display:grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}